# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [1]:
num=list(range(1,21))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
num=list(range(1,21))
print(num[0])
print(num[len(num)//2])
print(num[-1])

1
11
20

In [3]:
num=list(range(1,21))
print(num[0:5])
print(num[-5:])
print(num[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [4]:
new_list=[i*i for i in range(11)]
print(new_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
num=list(range(1,21))
new_list2=[ i for i in num if i%2==0 ]
print(new_list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
random_list=[1,2,3,4,7,8,9,0,3,3,9]
con=list(set(random_list))
ascen=sorted(con)
print(ascen)
desc=sorted(con, reverse=True)
print(desc)

[0, 1, 2, 3, 4, 7, 8, 9]
[9, 8, 7, 4, 3, 2, 1, 0]

In [7]:
nested_list=[[1,2,3],
            [2,3,4],
            [4,5,6]]
for row in nested_list:
    print(row)
print(nested_list[1][2])

[1, 2, 3]
[2, 3, 4]
[4, 5, 6]
4

In [11]:
l_o_d=[
        {"name":"neha","score":100},
        {"name":"pooja","score":88},
        {"name":"maheen","score":99},

       ]
res=sorted(l_o_d,key=lambda x:x["score"], reverse=True )
print(res)

[{'name': 'neha', 'score': 100}, {'name': 'maheen', 'score': 99}, {'name': 'pooja', 'score': 88}]

In [9]:
def transpose_mat(matrix):
  trans=[[matrix[j][i]for j in range(3) ]for i in range(3)]
  return trans
get_trans=transpose_mat(nested_list)
nested_list=[[1,2,3],
            [2,3,4],
            [4,5,6]]
for row in nested_list:
    print(row)
print()
for row in get_trans:
    print(row)

[1, 2, 3]
[2, 3, 4]
[4, 5, 6]

[1, 2, 4]
[2, 3, 5]
[3, 4, 6]

In [17]:
list_mani=[1,2,3,4,5,6,7,8,9,10]
(list_mani.remove(2))
(list_mani.remove(4))
(list_mani.remove(6))
(list_mani.insert(5,99))
print(list_mani)

[1, 3, 5, 7, 8, 99, 9, 10]

In [18]:
list1=["nea",1,3]
list2=["mah",5,"a"]
res=list(zip(list1,list2))
print(res)

[('nea', 'mah'), (1, 5), (3, 'a')]

In [19]:
def intersection(lista,listb):
  res=[]
  for i in lista:
    if i in listb and i not in res:
      res.append(i)
  return res
intersection=intersection([1,2,3,4,5],[2,4,5,5,6])
print(intersection)

[2, 4, 5]

In [24]:
def reverse(lista):
   print(lista)
   res=lista[::-1]
   return res
reverse=reverse([1,2,3,4,5])
print(reverse)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]