# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
first=tuple(range(1,11))
print(first)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
first=tuple(range(1,11))
print(first[0])
print(first[len(first)//2])
print(first[-1])

1
6
10

In [8]:
first=tuple(range(1,11))
print(first[:3])
print(first[-3:])
print(first[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [12]:
nested_tup=(
            (1,2,3),
            (2,3,4),
            (3,4,5)
            )
for row in nested_tup:
  print(row)
print(nested_tup[1][2])

(1, 2, 3)
(2, 3, 4)
(3, 4, 5)
4

In [13]:
tup1=(1, 2, 3)
tup2=(4, 5, 6)
merge=(*tup1,*tup2)
print(merge)

(1, 2, 3, 4, 5, 6)

In [15]:
unpacking=(1,2,3,4,5)
a,b,c,d,e=unpacking
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [18]:
duplicate=(1,2,2,3,4,5)
print(duplicate.count(2))
print(duplicate.index(2))

2
1

In [19]:
list1=[1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

In [21]:
three_tuples=((1,2,3),("hello",3,5),("neha",2,1))
for item in three_tuples:
  print(item)

(1, 2, 3)
('hello', 3, 5)
('neha', 2, 1)

In [23]:
t_l=(1,2,3,4,5)
con=list(t_l)
con.append(6)
con2=tuple(con)
print(con2)

(1, 2, 3, 4, 5, 6)

In [25]:
s="neha"
name=tuple(s)
print(name)
res="".join(name)
print(res)

('n', 'e', 'h', 'a')
neha

In [29]:
keys={(1,3):12,(22,33):44}
for key,val in keys.items():
  print(f"{key}:{val}")

(1, 3):12
(22, 33):44

In [36]:
nest=((1,3),(33,44),(56,78))
for i in nest:
  for j in i:
    print(j,end=" ")

1 3 33 44 56 78

In [37]:
dup1=(1,2,3,3,4,4)
res=set(dup1)
print(res)

{1, 2, 3, 4}

In [53]:
def sample(*n):
  min_n=min(n)
  max_n=max(n)
  sum_n=sum(n)
  return min_n,max_n,sum_n

numbers=sample(1,2,3,4,5,6)
print(numbers,sum)

(1, 6, 21) <function sum at 0x7ab56df302c0>