# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_set.add(11)
my_set.remove(1)
print("set:", my_set)

set: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [3]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}
union = set1 | set2
intersection = set1 & set2
difference = set1 - set2
symmetric_diff = set1 ^ set2

print("Union:", union)
print("Intersection:", intersection)
print("Difference (set1 - set2):", difference)
print("Symmetric Difference:", symmetric_diff)

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [8]:
squares_set = {x**2 for x in range(1, 11)}
print("Set of squares:", squares_set)

Set of squares: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [9]:
set1 = {1,2,3,4,5,6,7,8,9,10}
even_set = {x for x in set1 if x % 2 == 0}
print("Set of even numbers:", even_set)

Set of even numbers: {2, 4, 6, 8, 10}

In [ ]:
set1 = {1,2,3,4,5,7,6,5,2,3,1}
unique_numbers = set(set1)
print("Set with duplicates removed:", unique_numbers)

Set with duplicates removed: {1, 2, 3, 4, 5, 6, 7}

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
is_subset = set2.issubset(set1)
is_superset = set1.issuperset(set2)
print("Is set2 a subset of set1?", is_subset)
print("Is set1 a superset of set2?", is_superset)

Is set2 a subset of set1? True
Is set1 a superset of set2? True

In [ ]:
frozen = frozenset([1, 2, 3, 4, 5])
print("Frozenset:", frozen)

Frozenset: frozenset({1, 2, 3, 4, 5})

In [14]:
set1={1,2,3,4,5}
convert=list(set1)
convert.append(6)
con2=set(convert)
print(con2)

{1, 2, 3, 4, 5, 6}

In [18]:
dict_num={
    frozenset({1,2,3}):10,
    frozenset({2,3,4}):11,
    frozenset({9,4,5}):22
}
print(type(dict_num))
print(dict_num)

<class 'dict'>
{frozenset({1, 2, 3}): 10, frozenset({2, 3, 4}): 11, frozenset({9, 4, 5}): 22}

In [20]:
iterate_set={1,2,3,4,5,6,6}
for x in iterate_set:
  print(x,end=" ")

1 2 3 4 5 6

In [32]:
iterate_set={1,2,3,4,5,6,6}
while iterate_set:
    res=iterate_set.pop()
    print(res)
    print(iterate_set)

1
{2, 3, 4, 5, 6}
2
{3, 4, 5, 6}
3
{4, 5, 6}
4
{5, 6}
5
{6}
6
set()

In [33]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}
symmetric_diff=set1^set2
new_set=(*set1,*symmetric_diff)
print(new_set)

(1, 2, 3, 4, 5, 1, 3, 5, 6, 8, 10)

In [35]:
set1 = {1,2,3,4,5}
print(3 in set1)
print(6 in set1)

True
False

In [45]:
set1 = {(1,2),(1,),("tuple",2)}
for i in set1:
  print(i)

(1,)
(1, 2)
('tuple', 2)