# Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
user1=input("Hi,How are you? ")
print(user1)

Hi,How are you? hey,i am good
hey,i am good

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
num=int(input("enter your number here? "))
if num>0:
  print("positive")
elif num<0:
  print("negative")
else:
  print("zero")

enter your number here? 44
positive

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
val1=13
val2=10
val3=12
if val1>=val2 and val1>=val3:
  print(f"largest_num: {val1}")
elif val2>=val3 and val2>=val1:
  print(f"largest_num: {val2}")
else:
  print(f"largest_num: {val3}")

largest_num: 13

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial(n-1)
factorial(4)

24

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
integer=123
print(integer)
print(type(integer))
float=12.33
print(float)
print(type(float))
string="neha"
print(string)
print(type(string))
boolean=True
print(boolean)
print(type(boolean))

123
<class 'int'>
12.33
<class 'float'>
neha
<class 'str'>
True
<class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
a=25
b=10
a,b=b,a
print(f"{a} and {b}")

10 and 25

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
cel=float(input("enter the temp? "))
fah=(cel *9/5)+35
print(f"the temp is {fah}")

enter the temp? 25.6
the temp is 81.08

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
str1="Neha"
str2="Maheen"
print(str1+ " "+str2)

Neha Maheen

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
var=input("Enter any data type and its values? ")
if isinstance(var,str):
  print(f"the variable is a str")
else:
  print(f"the variable is NOT an str")

Enter any data type and its values? Avengers!..Assemble
the variable is a str

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
num1=20
num2=10
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1 / num2)
print(num1//num2)

30
10
200
2.0
2

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
num1=20
num2=10
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)
print(num1!=num2)
print(num1==num2)

True
False
True
False
True
False

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
num1=20
num2=10
print(num1 and num2)
print(num1 or num2)
print( not num2)

10
20
False

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
import math as m
num=4
print(m.pow(num,2))

16.0

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
num=13
if num%2==0:
  print("even")
else:
  print("odd")

odd

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
list=[10,10,10,10,10]
sum=0
for i in list:
  sum+=i
print(sum)

50

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
year=int(input("enter a year? "))
if (year%4==0 and year%100!=0) or (year%400==0):
  print(f" the {year} is a leap year")
else:
  print(f" the {year} is not a leap year")

enter a year? 2024
 the 2024 is a leap year

**Question 18:** Write a Python program to reverse a string.

In [ ]:
str="nehamaheen"
print(str[::-1])

neehamahen

**Question 19:** Write a Python program to check if a string is a palindrome.

In [ ]:
s=input("Enter your string? ")
palindrome="".join(reversed(s))
if s==palindrome:
  print("yes")
else:
  print("no")

Enter your string? neha
no

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [ ]:
list=[11,2,44,55,7,8,99,4,3]
res=sorted(list)
print(res)

[2, 3, 4, 7, 8, 11, 44, 55, 99]